<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="connection_string" connectionString="Data Source=DESKTOP-V9IIJ69\SQLEXPRESS;Initial Catalog=RESTAURANT;Integrated Security=true"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!--SCENARIO 1: Customers - Reservations-->
	<!--<appSettings>
    <add key="parent_table" value="Customer"/>
    <add key ="parent_table_pk" value="customerID"/>
    <add key="child_table" value="Reservations"/>
    <add key ="child_table_fk" value="customerID"/>
    <add key="parent_query" value="SELECT * FROM Customer"/>
    <add key="child_query" value="SELECT * FROM Reservations"/>
  </appSettings>-->

	<!--SCENARIO 2: Delivery People - Orders-->

	<appSettings>
		<add key="parent_table" value="Delivery_People"/>
		<add key ="parent_table_pk" value="deliverID"/>
		<add key="child_table" value="Order_Delivery"/>
		<add key ="child_table_fk" value="deliverID"/>
		<add key="parent_query" value="SELECT * FROM Delivery_People"/>
		<add key="child_query" value="SELECT * FROM Order_Delivery"/>
	</appSettings>
</configuration>